// loader
#loading{
  background-color: #bd4932;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s linear, z-index .1s linear .3s;
}
#loading.hide{
  z-index: -1;
  opacity: 0;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}

// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}
.section-title{
  @extend %title;
}

// container
.container{
  margin: 0 auto;

  &.sm{
    max-width: 684px;
  }
}

// btn
.btn{
  padding: 10px 20px;
  border: none;
  font-weight: $fontLight;
  font-size: 18px;
  border-radius: 2px;
}
.btn.btn-default {
  background-color: $darkGrey;
  color: #fff;

  &:hover{
    background-color: $grey;
  }
}
.btn.btn-action {
  background-color: $orange;
  color: #fff;

  &:hover{
    background-color: $orangeLight;
  }
}
.btn.btn-disable {
  background-color: $lightGrey;
  color: #fff;
}

// header
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .user-control{
    position: relative;

    .account{
      margin: 0 15px 0 10px;
    }

    i{
      vertical-align: middle;
    }

    .icon-arrow-down{
      font-size: 12px;
    }

    &.open{
      background-color: $xsLightGrey;

      .account{
        color: $black;
      }

      .icon-arrow-down{
        display: inline-block;
        transform: rotate(180deg);
        line-height: 0;
      }
    }
  }

  .user-notification{
    position: relative;

    .indicator{
      position: absolute;
      height: 9px;
      width: 9px;
      background-color: $orange;
      border-radius: 50%;
      left: 30px;
      bottom: 37px;
    }
  }

  .user-name{
    span{
      font-size: 13px;
      font-weight: $fontLight;
      color: $blue;
    }

    .user-id{
      margin-left: 10px;
    }
  }
}

//aside
%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}

#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100%;
  left: 0;
  z-index: 100;

  .menu-control{
    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }
  .aside-menu{
    margin-bottom: 25px;

    ul{
      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }

        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          [class*='icon-']{
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover{
            @extend %activeLink;
          }

          i{
            vertical-align: middle;
          }
        }
      }
    }
  }
  .your-manager{
    padding: 26px 18px;
    border-top: solid 2px $black;

    img{
      height: 43px;
      width: 43px;
      border-radius: 50%;
    }
    
    .title{
      font-weight: $fontMedium;
      font-size: $fontSize;
      color: #808080;
    }

    .manager-profile{
      margin-top: 18px;

      a{
        margin-left: 10px;
        color: $blue;
        line-height: 43px;
      }

      .indicator{
        position: absolute;
        height: 11px;
        width: 11px;
        background-color: $green;
        border-radius: 50%;
        left: 50px;
      }
    }
  }
}

// content
.content-wrapper{
  padding: 18px;
  height: calc(100wh - 62px);
  overflow-y: auto;
}

// card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }

  .card-date{
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }

  .card-form{
    .select-group{
      padding: 18px;
    }

    .input-group{
      label{
        display: block;
      }

      input{
        width: 100%;
      }
    }
  }
}

.datepicker-form{

  .date-input-wrap{
    display: inline-block;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    color: $black;
    padding: 5px 0;
    vertical-align: middle;
    margin-right: 12px;

    input{
      padding: 11px 16px;
      vertical-align: middle;
      display: inline-block;

      &#to{
        border-left: 1px solid $lightGrey;
      }
    }

    label{
      padding: 0 14px 0 10px;
    }
  }

  .btn{
    vertical-align: middle;
  }
}

// dropdown
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: $xsLightGrey;
  padding: 10px 18px 24px;
  top: 100%;
  left: 0;
  right: 0;
  font-size: 12px;

  li {
    & + li {
      margin-top: 15px;
    }

    display: flex;
    justify-content: space-between;

    span {
      color: $black;
    }
  }
}

// links
.links{
  .btn-row {
    padding: 20px 0;
  }
}

// table
.table{
  font-size: $tableFontSize;
  border-collapse: collapse;

  tbody{
    tr{
      transition: all .2s linear;

      &:hover{
        background-color: $tableTrHover;

        .hide-icons{
          opacity: 1;
        }
      }

      &:last-child{
        border-bottom: 1px solid $lightGrey;
      }
    }
  }

  td{
    padding: 18px;
    border-top: 1px solid $lightGrey;

    .hide-icons{
      opacity: 0;
      transition: all .2s linear;
    }

    &:first-child{
      width: 300px;
    }

    &:last-child{
      text-align: right;
    }

    i{
      & + i{
        margin-left: 15px;
      }
    }
  }
}

// modal
.modal{
  background-color: $modalBg;
  display: none;

  &#links{
    width: 70%;
    min-height: 100px;
  }
}