// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}
.section-title{
  @extend %title;

}

// header
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .user-control,
  .user-notification,
  .user-name,
  .icon-quit{
    position: relative;
    padding: 18px;
    border-left: 1px solid $lightGrey;
    font-weight: $fontRegular;
    font-size: 20px;
    color: $darkGrey;

    .account{
      margin: 0 20px 0 15px;
    }

    i{
      vertical-align: middle;
    }

    .indicator{
      position: absolute;
      height: 11px;
      width: 11px;
      background-color: $green;
      border-radius: 50%;
      left: 30px;
      bottom: 37px;
    }

    .icon-arrow-down{
      font-size: 12px;
    }

    .user-id{
      margin-left: 10px;
    }
  }

  .user-name{
    span{
      font-size: 13px;
      font-weight: $fontLight;
      color: $blue;
    }
  }
}

//aside
%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}

#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100%;
  left: 0;
  z-index: 100;

  .menu-control{
    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }
  .aside-menu{
    margin-bottom: 25px;

    ul{
      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink;
          }
        }

        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          [class*='icon-']{
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover{
            @extend %activeLink;
          }

          i{
            vertical-align: middle;
          }
        }
      }
    }
  }
  .your-manager{
    padding: 26px 18px;
    border-top: solid 2px $black;

    img{
      height: 43px;
      width: 43px;
      border-radius: 50%;
    }
    
    .title{
      font-weight: $fontMedium;
      font-size: $fontSize;
      color: #808080;
    }

    .manager-profile{
      margin-top: 18px;

      a{
        margin-left: 10px;
        color: $blue;
        line-height: 43px;
      }

      .indicator{
        position: absolute;
        height: 11px;
        width: 11px;
        background-color: $green;
        border-radius: 50%;
        left: 50px;
      }
    }
  }
}

// content
.content-wrapper{
  padding: 18px;
  height: calc(100wh - 62px);
  overflow-y: auto;
}

// card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
}